/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_dark {
  background-image: url('/images/cover-image-dark.png');

  --mainFont: 'IBM Plex Mono';
  --mainFontSize: 1.125rem;
  --lineHeight: 23.4px;
  --normalFont: normal;
  --boldFont: bold;
  
  --pageBackgrColor: #000028;

  --btnTextColor: #ff0070;
  --btnBorderColor: #ff0070;
  --btnHoverBorderColor: 255, 0, 112;
  --activeBtnBorderColor: #ff0070;

  --titleTextColor: #db00ff;
  --subtitleTextColor: #000028;
  --subtitleBackgrColor: #ff0070;
  --textColor: #f1b2ce;
  --questionsTextColor: #ff0070;
  --advicesTextColor: #000028;
  --picturesTextColor: #000028;

  --linkShadow: #ff0070;
  --linkBorderColor: #f1b2ce;

  --RECTextColor: #ff0070;
  --ellipseColor: #ff0070;
  --RECVisible: visible;
  --RECEllipseVisible: visible;
  --recEllipseBackgrColor: #ff0070;
  --recEllipseShadowColor: #ff0070;

  --cornersBorderColor: #ff0070;
  
  --headerTitleShadow: #ff0070;
  --footerTitleTextShadow: #ff0070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --mainFont: 'IBM Plex Mono';
    --mainFontSize: 1.125rem;
    --lineHeight: 23.4px;
    --normalFont: normal;
    --boldFont: bold;
    
    --pageBackgrColor: #000028;

    --btnTextColor: #ff0070;
    --btnBorderColor: #ff0070;
    --btnHoverBorderColor: 255, 0, 112;
    --activeBtnBorderColor: #ff0070;

    --titleTextColor: #db00ff;
    --subtitleTextColor: #000028;
    --subtitleBackgrColor: #ff0070;
    --textColor: #f1b2ce;
    --questionsTextColor: #ff0070;
    --advicesTextColor: #000028;
    --picturesTextColor: #000028;

    --linkShadow: #ff0070;
    --linkBorderColor: #f1b2ce;

    --RECTextColor: #ff0070;
    --ellipseColor: #ff0070;
    --RECVisible: visible;
    --RECEllipseVisible: visible;
    --recEllipseBackgrColor: #ff0070;
    --recEllipseShadowColor: #ff0070;

    --cornersBorderColor: #ff0070;
    
    --headerTitleShadow: #ff0070;
    --footerTitleTextShadow: #ff0070;
  }

  .page {
    background-image: url('/images/cover-image-dark.png');
  }
}