/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root {
  --mainFont: 'IBM Plex Mono';
  --mainFontSize: 1.125rem;
  --lineHeight: 23.4px;
  --normalFont: normal;
  --boldFont: bold;
  --pageBackgrColor: #fff1f7;

  --btnTextColor: #353430;
  --btnBorderColor: #353430;
  --btnHoverBorderColor: 53, 52, 48;

  --titleTextColor: #ffc2e6;
  --subtitleTextColor: #353430;
  --subtitleBackgrColor: #ff8dcb;
  --textColor: #353430;
  --questionsTextColor: #353430;

  --linkShadowColor: #ff8dcb;
  --linkBorderColor: #353430;

  --RECVisible: hidden;
  --RECEllipseVisible: hidden;

  --cornersBorderColor: #353430;
  
  --headerTitleShadowColor: #ff0070;
  --footerTitleTextShadowColor: #ff0070;
}